/* Apartment info css */

.title {
    font-weight: 1000;
    font-size: 40px;
    margin: 25px;
    color: #212423;
}

.apartmentInfoContainer {
    border-radius: 5px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    background-color: #212423;
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.infoGroup {
    display: flex;
    flex-direction: column;
}

.group {
    display: flex;
    flex-direction: row;
}

.apartmentImg {
    width: 100%;
    height: 225px;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px white;
}

.firstInfo {
    margin: 0;
    margin-top: 50px;
    text-indent: 40px;
    text-align: justify;
    color: white;
}

.secondInfo {
    margin-top: 50px;
    text-indent: 40px;
    text-align: justify;
    color: white;
}

img {
    height: 200px;
    width: 100%;
    margin-right: 50px;
}

/* Alert Message css */

.notSignedAlert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.notSignedContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: all 0.3s ease;
}

.notSignedContent:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.notSignedTitle {
    margin-top: 0;
}

.buttonContainer {
    margin-top: 20px;
}
  
.buttonContainer button {
    margin: 0 5px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    border: none;
    background-color: #3a403e;
    transition: all 0.3s ease;
}

.buttonContainer button:hover {
    cursor: pointer;
    color:  #3a403e;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba( 56, 64, 62, 0.5);
    font-weight: 600;
}

/* Form css */

form {
    display: flex;
    margin-top: 80px;
}
 
form input {
    width: 100%;
    padding: 7px;
    margin-bottom: 50px;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}

input[type="button"] {
    width: 200px;
    height: 35px;
    padding-top: 10px;
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #3a403e;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.3s ease;
}

input[type="button"]:hover {
    cursor: pointer;
    color:  white;
    background-color: #3a403e;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    font-size: 20px;
}

/* Background Css */

html {	
	--u: 2vmin; /* change size */
	--c1: #ffffff;
  --c2: #e6e6e6;
	--s1: #0002;
  --gp: 50%/calc(var(--u) * 10) calc(var(--u) * 10);
	height: 100vh;
	background: 
		repeating-conic-gradient(from 0deg at 50% 13.75%, var(--s1) 0 20.55%, #fff0 21.05% 79.13%, var(--s1) 79.63% 100% ) var(--gp), 
		repeating-conic-gradient(from 0deg at 50% 50%, #fff0 0 25%, var(--s1) 25% 29%, #fff0 30% 70%, var(--s1) 71% 75%, #fff0 75% 100%) var(--gp), 
		repeating-conic-gradient(from 0deg at 50% 50%, var(--c1) 0 25%, var(--c2) 0% 50%, var(--c1) 0 75%, var(--c2) 0% 100% ) var(--gp);
}