/* Manage css */
body {
    padding: 0 20px 20px 20px;
}

h1 {
    margin: 25px 0 25px 0;
    color: #212423;
}

.divContainer {
    display: flex;
    height: fit-content;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    background-color: #212423;
}


.toggleBtn {
    padding: 10px 25px 10px 25px;
    margin: 0 20px 0 20px;
    border: none;
    border-radius: 5px;
    background-color: white ;
    color: #3a403e;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.toggleBtn:hover {
    cursor: pointer;
    background-color: #3a403e;
    color: white;  
    box-shadow: 0 0 7px 3px rgb(255, 255, 255);
}

/* Rent Css */

.rentContainer {
    display: flex;
    height: fit-content;
    border: 1px solid;
    border-radius: 5px;
    padding: 0 20px 20px 20px;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212423;
}

.innerTitle {
    margin: 20px auto 30px auto;
    color: white;
}

.rowTitles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.acceptBtn {
    padding: 5px 10px 5px 10px;
    margin-top: -5px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #3a403e;
    font-weight: 600;
    transition: all 0.3s ease;
}

.acceptBtn:hover {
    cursor: pointer;
    background-color: #3a403e;
    color: white;  
    box-shadow: 0 0 7px 3px rgb(255, 255, 255);
}

.rentTable {
    width: 1450px;
}

.rentTh {
    width: fit-content;
    padding: 5px 10px 5px 10px;
    color: white;
    font-size: 20px;
}

.rentTd {
    text-align: center;
    padding: 10px 0 20px 0;
    color: white;
}

/* Accept Confirmation Css */

.acceptConfirmation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.acceptContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: all 0.3s ease;
}

.acceptContent:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
  
.acceptTitle {
    margin-top: 0;
}

.buttonContainer {
    margin-top: 20px;
}
  
.buttonContainer input {
    margin: 0 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    border: none;
    font-weight: 600;
    background-color: #3a403e;
    transition: all 0.3s ease;
}

.buttonContainer input:hover {
    cursor: pointer;
    color:  #3a403e;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba( 56, 64, 62, 0.5); 
}

/* Apartment Manager css */

.apartContainer {
    display: none;
    height: fit-content;
    border: 1px solid;
    border-radius: 5px;
    padding: 0 20px 60px 20px;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212423;
}

.apartContainer .innerTitle {
    margin-bottom: 20px;
}

.addBtn a {
    text-decoration: none;
    color: #3a403e;
}

.addBtn a:hover {
    color:white;  
}

.apartContainer .addBtn{
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    font-weight: 600;
    background-color: white;
    transition: all 0.3s ease;
}

.apartContainer .addBtn:hover {
    cursor: pointer;
    background-color: #3a403e;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.apartmentContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apartmentTable {
    text-align: center;
}

.apartmentTh {
    width: fit-content;
    padding: 5px 10px 5px 10px;
    color: white;
    font-size: 20px;
}

.apartmentTd {
    text-align: center;
    padding: 10px 0 20px 0;
    color: white;
}

.viewContainer {
    width: 1300px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px 20px 20px;
}

.dbContainer {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.container {
    display: flex;
}

.apartmentField {
    font-weight: bold;
    color: #212423;
    margin: 0 20px 0 0;
}

.apartmentValue{
    margin: 0;
    color: #212423;
}

.descContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.descContainer .apartmentValue {
    text-align: justify;
    text-indent: 30px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.infoContainer .apartmentValue {
    text-align: justify;
    text-indent: 30px;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
}

.btnContainer form {
    display: flex;
    gap: 30px;
}

.viewContainer button a {
    text-decoration: none;
    color: white;
}

.viewContainer button a:hover {
    color:#3a403e;  
}

.viewContainer button {
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: #3a403e ;
    color: white;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.viewContainer button:hover {
    cursor: pointer;
    background-color: white;
    color:#3a403e;  
    box-shadow: 0 0 7px 3px rgb(23, 25, 24);
}

/* Delete confirm css */

.deleteConfirmation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.deleteConfirmation h2 {
    margin: 0;
    color: rgb(32, 32, 32);
}
  
.deleteContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: all 0.3s ease;
}
  
.deleteContent:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.dltBtn {
    padding: 10px 25px 10px 25px;
    margin: 0 20px 0 20px;
    border: none;
    border-radius: 5px;
    background-color: #3a403e ;
    color: white;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.dltBtn:hover {
    cursor: pointer;
    background-color: white;
    color:#3a403e;  
    box-shadow: 0 0 7px 3px rgb(23, 25, 24);
}

/* Background Css */

html {	
	--u: 2vmin;
	--c1: #ffffff;
  --c2: #e6e6e6;
	--s1: #0002;
  --gp: 50%/calc(var(--u) * 10) calc(var(--u) * 10);
	height: 100vh;
	background: 
		repeating-conic-gradient(from 0deg at 50% 13.75%, var(--s1) 0 20.55%, #fff0 21.05% 79.13%, var(--s1) 79.63% 100% ) var(--gp), 
		repeating-conic-gradient(from 0deg at 50% 50%, #fff0 0 25%, var(--s1) 25% 29%, #fff0 30% 70%, var(--s1) 71% 75%, #fff0 75% 100%) var(--gp), 
		repeating-conic-gradient(from 0deg at 50% 50%, var(--c1) 0 25%, var(--c2) 0% 50%, var(--c1) 0 75%, var(--c2) 0% 100% ) var(--gp);
}

 /* Scrollbar look */
 ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #333;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #878787;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
  }