/* Information css */

.title {
    font-weight: 1000;
    font-size: 60px;
    margin: 10px 30px 10px 30px;
    color: #212423;
}

.container {
    border: 1px solid;
    border-radius: 5px;
    border-color: white;
    margin: 25px;
    padding: 80px 0 85px 0;
    background-color: #212423;
    display: flex;
    justify-content: center;
}

.groupOne {
    display: flex;
    margin-bottom: 5px;
}

.groupTwo {
    display: flex;
}

.infoContainer {
    border-radius: 5px;
    background-color: white;
    height: fit-content;
    padding: 30px 40px 10px 40px;
    transition: all 0.3s ease;
}

.infoContainer:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5); 
}

img {
    width: 200px;
    height: 100%;
    margin-right: 50px;
}

.groupTextTwo {
    margin-right: 96px;
}

.type {
    margin: 10px 0 0 0;
    font-size: 20px;
}

.info {
    margin: 10px 0 30px 0;
    font-size: 20px;
}

body {
    padding-bottom: 20px;
}

/* Background Css */

html {	
	--u: 2vmin; /* change size */
	--c1: #ffffff;
  --c2: #e6e6e6;
	--s1: #0002;
  --gp: 50%/calc(var(--u) * 10) calc(var(--u) * 10);
	height: 100vh;
	background: 
		repeating-conic-gradient(from 0deg at 50% 13.75%, var(--s1) 0 20.55%, #fff0 21.05% 79.13%, var(--s1) 79.63% 100% ) var(--gp), 
		repeating-conic-gradient(from 0deg at 50% 50%, #fff0 0 25%, var(--s1) 25% 29%, #fff0 30% 70%, var(--s1) 71% 75%, #fff0 75% 100%) var(--gp), 
		repeating-conic-gradient(from 0deg at 50% 50%, var(--c1) 0 25%, var(--c2) 0% 50%, var(--c1) 0 75%, var(--c2) 0% 100% ) var(--gp);
}

 /* Scrollbar look */
 ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #333;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #878787;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
  }